.contenedor {
    height: 60px;
}

.imagenLogo {
    height: 80%;
    width: 75%;
    float: left;
    margin-bottom: 15px;
}

.logoServicio {
    height: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.textoServicio {
    height: 80%;
    padding-top: 35px;
    font-family: verdana;
    font-size: 120%;
}

.imagenLogoMobile {
    height: 60%;
    width: 30%;
    margin-bottom: 15px;
}

.contenedorHeader {
    margin: 2%;
    border-bottom: black 1px solid;
}

.textoHeader {
    height: 80%;
    margin: auto;
    font-family: verdana;
    font-size: 150%;
}

.servicio {
    border-radius: 15px;
    background-color: rgb(159, 204, 255);
    border: black 1px solid;
    height: 150px;
    margin: 10px auto;
    font-family: verdana;
    font-size: 20px;
}

@media (min-width: 768px) {
    .servicio {
        border-radius: 15px;
        background-color: rgb(159, 204, 255);
        border: black 1px solid;
        height: 200px;
        margin: 15px auto;
        font-family: verdana;
        font-size: 20px;
    }
}

.footer {
    background-color: rgb(36, 36, 36);
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 40px;
    color: white;
}
