.botonDiv {
    height: 100px;
}

.botonLogin {
    height: 50%;
    font-size: 120%;
    margin-top: 2%;
}

p {
    font-size: 18px;
    padding: 15px;
    text-align: left;
}

.logoDiv {
    text-align: center;
    height: 200px;
}

.imagenLogoMobile {
    height: 100%;
    width: 30%;
    padding-top: 50px;
    margin: 0 auto;
}

.titulo {
    width: 100%;
    margin: 2%;
    border: rgb(255, 54, 54) 3px solid;
    background-color: rgb(255, 183, 183);
    border-radius: 20px;
    height: 120px;
    padding: 20px;
    text-align: center;
    font-family: verdana;
    font-size: 110%;
    margin: auto;
}

.contenedor {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.contenedorTitulo{
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 1100px) {
    
    .titulo {
        width: 40%;
        margin: 2%;
        background-color: rgb(255, 183, 183);
        border-radius: 20px;
        height: 150px;
        text-align: center;
        font-family: verdana;
        font-size: 120%;
        padding: 40px;
    }
}