p {
    font-size: 18px;
    padding: 15px;
    text-align: left;
}

.logoDiv {
    text-align: center;
    height: 200px;
}

.imagenLogoMobile {
    height: 100%;
    width: 30%;
    padding-top: 50px;
    margin: 0 auto;
}

.titulo {
    width: 90%;
    margin: 2%;
    border: rgb(54, 148, 255) 3px solid;
    background-color: rgb(234, 243, 253);
    border-radius: 20px;
    height: 120px;
    padding: 20px;
    text-align: center;
    font-family: verdana;
    font-size: 110%;
    margin: auto;
}

.contenedor {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.contenedorTitulo{
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 960px) {
    
    .titulo {
        width: 20%;
        margin: 2%;
        border-bottom: rgb(54, 148, 255) 4px solid;
        background-color: rgb(234, 243, 253);
        border-radius: 20px;
        height: 150px;
        text-align: center;
        font-family: verdana;
        font-size: 120%;
        padding: 30px;
    }
}