.container {
  height: 100%;
  width: 90%;
}

.imagenLogo {
  height: 60%;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

.contenedorHeader {
  margin: 2%;
  border-bottom: rgb(54, 148, 255) 4px solid;
  background-color: rgb(234, 243, 253);
  border-radius: 20px;
  height: 60%;
}

.textoHeader {
  height: 80%;
  margin: auto;
  font-family: verdana;
  font-size: 150%;
}

.etiquetaCampo {
  margin-left: 10px;
}
.etiquetaCampoMotivo {
  margin-left: 10px;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.campoErroneo {
  border-color: red;
}

.campoCorrecto {
  border-color: green;
}

.mensajeOculto {
  display: none;
}

.mensajeErroneo {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: block;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  color: #fff;
  background-color: rgba(220, 53, 69, .9);
  border-radius: .25rem;
}

.separador {
  margin-bottom: 20px;
  text-align: center;
}

.oculto{
  display: none;
}

.separadorMotivo {
  margin-bottom: 20px;
  text-align: center;
}

.centradoSelect {
  text-align: center;
  margin: 0 auto;
}

.multiSelect{
  height: 100%;
}

.imagenLogo {
  height: 80%;
  width: 75%;
  float: left;
  margin-bottom: 15px;
}

.botonDiv {
  padding: 20px;
}

.logoServicio {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.textoServicio {
  height: 80%;
  padding-top: 35px;
  font-family: verdana;
  font-size: 120%;
}

.imagenLogoMobile {
  height: 60%;
  width: 30%;
  margin-bottom: 15px;
}

.boton {
  width: 80%;
}

.enviarDiv{
  text-align: center; 
  padding: 20px;
}

@media (min-width: 960px) {
  .textoHeader {
    height: 80%;
    margin: auto;
    border-left: rgb(54, 148, 255) 4px solid;
    font-family: verdana;
    font-size: 150%;
  }
  .boton {
    width: 20%;
  }
  .enviarDiv{
    text-align: right; 
    padding: 20px;
  }
}
